.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #B3EBF2;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-links li a {
	color: black;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;

	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	border: 2px solid #6495ED
}

.nav-links li a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
}

.content {
	padding: 80px 20px;
	/*background-color: blue;*/
	background: linear-gradient(#AFEEEE, #B3EBF2, #FFF5EE);
	color: black;
	text-align: center;
}

.content ul a {
	background-color: #F0FFFF;
	padding: 10px 20px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
}


.logo {
	background-color: #B3EBF2;
	color: black;
	border-radius: 50%;
	font-weight: bold;
	font-size: 20;
	text-shadow: 0 0 7px #8A8AFF, 0 0 21px #E6E6FF;
	padding: 10px;
}